@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: Poppins;
    background-color: #FBF8CC;
    color: #03045E;
}

.name{
    font-weight: 600;
    font-size: 24px;
    padding: 20px 50px;
    padding-right: 300px;
}

header{
    display: flex;
    align-items:center;
}
.home{
    word-spacing: 70px;
    font-weight: 400;
    font-size: 18px;
}

.intro{
    font-weight: 500;
    font-size: 28px;
    padding-top: 150px;
    margin: 0px;
    padding-bottom: 0px;
}

.profession{
    font-weight: 800;
    font-size: 100px;
    margin: 0px;
}

.location{
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    padding-bottom: 40px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.image{
    border-radius: 50%;   
    border: 1px solid #474306;
    padding: 5px;
}

.image-border{
    padding-right: 50px; 
}

.button{
    font-size: 20px;
    background-color: #F5EE84;
    width: 158px;
    height: 61px;
    border-radius: 6px;
    color: #474306;
    font-weight: 400;
}

.about{
    font-weight: 800;
    font-size: 100px;
    color: #F7F197;
    padding-left: 50px;
    padding-top: 150px;
    margin: 0px;
}

.para{
    font-weight: 400;
    font-size: 24px; 
    padding: 50px;
    margin: 0px;
     
}