@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: Poppins;
    background-color: #FBF8CC;
    color: #03045E;
}

.name{
    font-weight: 600;
    font-size: 24px;
    padding: 20px 50px;
    padding-right: 260px;
}

header{
    display: flex;
    align-items:center;
}
.home{
    word-spacing: 50px;
    font-weight: 400;
    font-size: 18px;
}